/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2016, 1:29:38 PM
    Author     : moriarty
*/

@import "../valo/valo";

@mixin mytheme {
    @include valo;

        *{
        font-family: Ubuntu;
    }
    
    .grid{
        color: rgb(34,53,76);
        
    }
    
    .v-grid-header{
        font-weight: bold;
    }
    
    .v-grid-tablewrapper{
        height: 500px !important;
    }
    
    .eUsersPanel{
        border: 1px solid rgb(34,53,76);
        margin-left: 11%;
        margin-top: 5%;
        width: 34% !important;
        height: 80%;
    }
    
    .icon {
        margin-right: 2%;
        font-family: Vaadin-Icons;
        font-size: 16px;
        speak: none;
        font-weight: normal;
        font-variant: normal;
        font-style: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    .vlayout{
        background: url("images/resim2.jpg") !important;
        width: 100%;
        height: 100%;
    }

    .addExamsPanel{
        border: 1px solid rgb(34,53,76);
        margin-left: 11%;
        margin-top: 5%;
        width: 34% !important;
        height: 80%;
    }
    
    .v-panel-caption{
        padding: 2%;
        color: rgb(34,53,76);
        font-weight: bold;  
    }
    
    .v-button{
        width: 100%;
        color: white;
        border-color: rgb(34,53,76);
        background-color: rgb(34,53,76);
        background-image: none;
    }
    
    .v-button:hover{
        background-color: rgb(102,0,51);
        border-color: rgb(102,0,51);
    }
}