

<!-- <v-panel>
    
    <v-vertical-layout>
    
        <v-grid  caption="Daha önce oluşturulan sınavlar aşağıda gösterilmektedir!" size-full></v-grid>
                       
     
     <v-popup-view hide-on-mouse-out>
         Sınav eklemek için buraya tıklayınız
         <popup-content>
             <v-vertical-layout>
                 <v-text-field caption="Böiüm Adı " />
                 <v-text-field caption="Sınav Adı"/>
                 <v-text-field caption="Sınav Hocası"/>                 
                 <v-popup-date-field caption="Sınav Tarihi" _id="birthDate"></v-popup-date-field>
                 <v-combo-box caption="Sınav Turu"  />                                                                 
                <v-button>Kaydet<v-button>     
             </v-vertical-layout>

         </popup-content>


    </v-vertical-layout>
</v-panel> -->

<v-panel caption="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Daha önce oluşturulan sınavlar aşağıda listelenmektedir!" >
   
    
         
    
   
    <v-button _id="yeniSinav"><i class="icon">&#xe7d8;</i>Yeni sınav oluştur! </v-button>
         

        
       
</v-panel>
