




    
    <v-vertical-layout>
                         
     
     <v-popup-view>
          <v-button _id="yeniSinav"><i class="icon">&#xe7d8;</i>Yeni sınav oluştur!</v-button> 
         <popup-content>
             <v-vertical-layout>
                 <v-text-field caption="Böiüm Adı " />
                 <v-text-field caption="Sınav Adı"/>
                 <v-text-field caption="Sınav Hocası"/>                 
                 <v-popup-date-field caption="Sınav Tarihi" _id="birthDate"></v-popup-date-field>
                 <v-combo-box caption="Sınav Turu"  />                                                                 
                <v-button>Kaydet</v-button>     
             </v-vertical-layout>

         </popup-content>


    </v-vertical-layout>





<!--<v-popup-view popup-visible = true>
    aa
    <v-button _id="yeniSinav"><i class="icon">&#xe7d8;</i>Yeni sınav oluştur!</v-button> 
        <v-popup-content>
            <v-vertical-layout>
                <v-button>aa</v-button>
            </v-vertical-layout>
        </v-popup-content>
    


</v-popup-view>
-->