/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 30, 2016, 10:43:13 AM
    Author     : moriarty
*/
@import "../reindeer/styles.css";

mypanelexample {
    background-color: red;
}
.v-panel-caption {}
.v-panel-nocaption {}
.v-panel-content {
    color: blue;
}
.v-panel-deco {}
